{% extends 'main_page/base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block body %}
    <br>
<h2>{% translate "Details" %}</h2>
<br>
<div class="jumbotron">

  <h1 class="display-4">{{ tasks.name }}</h1>
  <p class="lead">{{ tasks.description }}</p>
  <hr class="my-4">
  <p>{% translate "Executor" %} : {{ tasks.executor.username }}</p>
    <p>{% translate "Author" %} : {{ tasks.made_by.username }}</p>
  <p>{% translate "Status" %} : {{ tasks.status.name }}</p>
  <p>{% translate "Created at" %} : {{ tasks.date }} </p>
                       <a href="{% url 'task_edit' pk=tasks.id %}">{% translate "Edit" %}</a>

                        <a href="{% url 'task_delete' pk=tasks.id %}">{% translate "Delete" %}</a>


</div>

{% endblock %}