{% extends 'main_page/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
{% load i18n %}

{% block body %}
    <h1>{% translate "Tasks"%}</h1>
    <div>
        <a href="{% url 'task_create' %}">{% translate "Create task" %}</a>
    </div>
    <br>
<form method="get">
        {% bootstrap_form filter.form %}
      <br>
    <button type="submit" class="btn btn-primary">{% translate "Show" %}</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% translate "Name" %}</th>
                <th>{% translate "Author" %}</th>
                <th>{% translate "Executor" %}</th>
                <th>{% translate "Created at" %}</th>

            </tr>
        </thead>
        {% for item in tasks %}
        <tbody>
            <tr>
                <td>{{ item.id }}</td>
                <td><a href="{% url 'task_details' pk=item.id %}">{{ item.name }}</a></td>
                <td>{{ item.made_by.username }}</td>
                <td>{{ item.executor.username }}</td>
                <td>{{ item.date }}</td>
                <td>
                       <a href="{% url 'task_edit' pk=item.id %}">{% translate "Edit" %}</a>

                        <a href="{% url 'task_delete' pk=item.id %}">{% translate "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}